<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('提现订单列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>用户名：</label> <input type="text" name="loginName" />
							</li>
							<li><label>邮箱：</label> <input type="text" name="email" /></li>
							<li><label>币种：</label> <select name="symbol"
								onchange="$.table.search()">
									<option value="">全部</option>
									<option th:each="s : ${symbols}"
										th:text="${s.symbol.toUpperCase()}" th:value="${s.symbol}"></option>
							</select></li>
							<li><label>账户：</label> <select name="kind"
								onchange="$.table.search()">
									<option value="">所有</option>
									<option value="0">可用余额</option>
									<option value="1">冻结余额</option>
									<option value="2">锁定余额</option>
							</select></li>
							<li><label>类型：</label> <select name="type"
								onchange="$.table.search()">
									<option value="">所有</option>
									<option value="0">收入</option>
									<option value="1">支出</option>
									<option value="2">后台设定</option>
							</select></li>
							<li class="select-time"><label>创建时间： </label> <input
								type="text" class="time-input" id="startTime" placeholder="开始时间"
								name="start" /> <span>-</span> <input type="text"
								class="time-input" id="endTime" placeholder="结束时间" name="end" /></li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<div class=" btn select-list">
					<ul id="tableParams">
					</ul>
				</div>
			</div>
			<div class="col-sm-12 select-table table-bordered">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-table-export-js" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('mining:wallet:record:edit')}]];
        var removeFlag = [[${@permission.hasPermi('mining:wallet:record:remove')}]];
        var showExport = 'hidden' != [[${@permission.hasPermi('mining:wallet:record:export')}]];

        var prefix = ctx + "mining/wallet/record";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "提现订单",
                sortName: "createTime",
                sortOrder: "desc",
                footerStyle: footerStyle,
                showFooter: true,
                showExport: showExport,
		        exportOptions: {
		        	ignoreColumn: [0]  //忽略第一列和最后一列
		        },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'loginName',
                    title: '用户名'
                },
                {
                    field: 'email',
                    title: '邮箱'
                },
                {
                    field: 'symbol',
                    title: '币种',
                    formatter: function(value, rows, index) {
                    	return value.toUpperCase();
                    }
                },
                {
                    field: 'address',
                    title: '地址'
                },
                
                {
                    field: 'amount',
                    title: '金额',
                    formatter: function(value, rows, index) {
                    	return $.common.formatNumber(value);
                    }
                },
                {
                    field: 'kind',
                    title: '账户',
                    formatter: function(value, rows, index) {
                    	return $.common.formatStatus(['可用余额','冻结余额','锁定余额'], value);
                    }
                },
                {
                    field: 'type',
                    title: '类型',
                    formatter: function(value, rows, index) {
                    	return $.common.formatStatus(['收入','支出','后台设定'], value);
                    },
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                },
                {
                    field: 'remark',
                    title: '备注'
                },
               ],
                responseHandler: function(res) {
                	if (res.code == web_status.SUCCESS && res.params) {
                		$("#tableParams").html('');
                		$.each(res.params, function(name, value) {
                			$('#tableParams').append('<li><label>'+name+'：</label> <label class="text-danger" style="text-align: center">'+value+'</label></li>');
                		});
                	}
                }
            };
            $.table.init(options);
        });
        
        function footerStyle(column) {
        	return {
//         	    userBalance: {
//         	        classes: 'class'
//         	    },
        	    record: {
        	        css: { color: 'red', 'font-weight': 'normal' }
        	    }
        	}[column.field]
          }
        
        function checkPassed(id) {
        	var ids;
        	if (!id) {
        		var selected = $.table.selectColumns('orderNo');
        		if (!selected || selected.length == 0) {
        			return;
        		}
        		ids = $.common.join(selected);
        	} else {
        		ids = id;
        	}
        	$.modal.confirm('你确定要审核通过这些提现订单吗？', function(){
        		$.operate.post(prefix + '/checkPassed?ids=' + ids);
        	})
        }

        function checkDenied(id) {
        	var ids;
        	if (!id) {
        		var selected = $.table.selectColumns('orderNo');
        		if (!selected || selected.length == 0) {
        			return;
        		}
        		ids = $.common.join(selected);
        	} else {
        		ids = id;
        	}
        	$.modal.prompt("审核拒绝？给个理由先", function(msg) {
       			$.operate.post(prefix + "/checkDenied?ids=" + ids +'&remark=' + msg);
		    })
        }
    </script>
</body>
</html>