<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.token.mapper.TokenSecretMapper">
    
    <resultMap type="TokenSecret" id="TokenSecretResult">
        <result property="id"    column="id"    />
        <result property="accessKey"    column="access_key"    />
        <result property="secretKey"    column="secret_key"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTokenSecretVo">
        select id, access_key, secret_key, create_time, update_time, remark from t_token_secret
    </sql>

    <select id="selectTokenSecretList" parameterType="TokenSecret" resultMap="TokenSecretResult">
        <include refid="selectTokenSecretVo"/>
        <where>  
            <if test="accessKey != null  and accessKey != ''"> and access_key = #{accessKey}</if>
            <if test="secretKey != null  and secretKey != ''"> and secret_key = #{secretKey}</if>
        </where>
    </select>
    
    <select id="selectTokenSecretById" parameterType="Long" resultMap="TokenSecretResult">
        <include refid="selectTokenSecretVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTokenSecret" parameterType="TokenSecret" useGeneratedKeys="true" keyProperty="id">
        insert into t_token_secret
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accessKey != null and accessKey != ''">access_key,</if>
            <if test="secretKey != null and secretKey != ''">secret_key,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accessKey != null and accessKey != ''">#{accessKey},</if>
            <if test="secretKey != null and secretKey != ''">#{secretKey},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTokenSecret" parameterType="TokenSecret">
        update t_token_secret
        <trim prefix="SET" suffixOverrides=",">
            <if test="accessKey != null and accessKey != ''">access_key = #{accessKey},</if>
            <if test="secretKey != null and secretKey != ''">secret_key = #{secretKey},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTokenSecretById" parameterType="Long">
        delete from t_token_secret where id = #{id}
    </delete>

    <delete id="deleteTokenSecretByIds" parameterType="String">
        delete from t_token_secret where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectTokenSecretKey" parameterType="String" resultType="String">
    	select secret_key from t_token_secret where access_key = #{accessKey}
    </select>

</mapper>