<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.article.mapper.UserAdviseMapper">
    
    <resultMap type="UserAdvise" id="UserAdviseResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_Id"    />
        <result property="userId"    column="user_id"    />
        <result property="loginName"    column="login_name"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="type"    column="type"    />
        <result property="kind"    column="kind"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserAdviseVo">
        select a.id, a.parent_Id, a.user_id, b.login_name, a.title, a.description, a.type, a.kind, a.status, a.create_time, a.update_time from t_user_advise a
        left join (select user_id as bid, login_name from sys_user) as b on a.user_id = b.bid
    </sql>

    <select id="selectUserAdviseList" parameterType="UserAdvise" resultMap="UserAdviseResult">
        <include refid="selectUserAdviseVo"/>
        <where>  
            <if test="parentId != null "> and parent_Id = #{parentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="kind != null "> and kind = #{kind}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectUserAdviseById" parameterType="Long" resultMap="UserAdviseResult">
        <include refid="selectUserAdviseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserAdvise" parameterType="UserAdvise" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_advise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_Id,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="type != null">type,</if>
            <if test="kind != null">kind,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="type != null">#{type},</if>
            <if test="kind != null">#{kind},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserAdvise" parameterType="UserAdvise">
        update t_user_advise
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_Id = #{parentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="type != null">type = #{type},</if>
            <if test="kind != null">kind = #{kind},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserAdviseById" parameterType="Long">
        delete from t_user_advise where id = #{id}
    </delete>

    <delete id="deleteUserAdviseByIds" parameterType="String">
        delete from t_user_advise where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectUserAdviseListByUserId" parameterType="Long" resultMap="UserAdviseResult">
        <include refid="selectUserAdviseVo"/>
    	where user_id = #{userId} and parent_id is null  and type = 0
    </select>

	<select id="selectUserAdviseReplyList" parameterType="Long" resultMap="UserAdviseResult">
        <include refid="selectUserAdviseVo"/>
    	where parent_id = #{id} and type = 1
    </select>

</mapper>