<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.message.mapper.SwordMessageMapper">
    
    <resultMap type="SwordMessage" id="SwordMessageResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="publish"    column="publish"    />
        <result property="status"    column="status"    />
        <result property="read"    column="read"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSwordMessageVo">
        select a.id, a.user_id, a.type, a.title, a.content, a.status, a.publish, a.create_by, a.create_time, a.update_time, a.remark
        , b.read    
    </sql>
    
    <sql id="selectSwordMessageJoins">
		left join (select message_id, sum(status) as `read` from t_user_message where `type`=0 group by message_id ) as b on a.id = b.message_id
	</sql>

    <select id="selectSwordMessageList" parameterType="SwordMessage" resultMap="SwordMessageResult">
        <include refid="selectSwordMessageVo"/>
        from t_sword_message a
        <include refid="selectSwordMessageJoins"/>
        <where>  
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="type != null "> and a.`type` = #{type}</if>
            <if test="title != null  and title != ''"> and a.title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != ''"> and a.content like concat('%',  #{content}, '%')</if>
            <if test="status != null "> and a.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSwordMessageById" parameterType="Long" resultMap="SwordMessageResult">
        <include refid="selectSwordMessageVo"/>
        from t_sword_message a
        <include refid="selectSwordMessageJoins"/>
        where id = #{id}
    </select>
        
    <insert id="insertSwordMessage" parameterType="SwordMessage" useGeneratedKeys="true" keyProperty="id">
        insert into t_sword_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="status != null">status,</if>
            <if test="publish != null">publish,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="publish != null">#{publish},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSwordMessage" parameterType="SwordMessage">
        update t_sword_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="publish != null">publish = #{publish},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSwordMessageById" parameterType="Long">
        delete from t_sword_message where id = #{id}
    </delete>

    <delete id="deleteSwordMessageByIds" parameterType="String">
        delete from t_sword_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>