<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.order.mapper.UserWithdrawalOrderMapper">
    
    <resultMap type="UserWithdrawalOrder" id="UserWithdrawalOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="loginName"    column="login_name"    />
        <result property="email"    column="email"    />
        <result property="mobile"    column="mobile"    />
        <result property="address"    column="address"    />
        <result property="amount"    column="amount"    />
        <result property="fee"    column="fee"    />
        <result property="withdrawal"    column="withdrawal"    />
        <result property="symbol"    column="symbol"    />
        <result property="chain"    column="chain"    />
        <result property="status"    column="status"    />
        <result property="feedback"    column="feedback"    />
        <result property="callable"    column="callable"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUserWithdrawalOrderVo">
        select a.id, a.order_no, a.user_id, b.login_name, b.email, b.mobile, a.address, a.amount, a.fee, a.withdrawal, a.symbol, a.chain, a.status, a.feedback, a.callable, a.create_time, a.update_time, a.remark from t_user_order_withdrawal a
        left join (select user_id as bid, login_name, email, phonenumber as mobile from sys_user) as b on a.user_id = b.bid
    </sql>

    <select id="selectUserWithdrawalOrderList" parameterType="UserWithdrawalOrder" resultMap="UserWithdrawalOrderResult">
        <include refid="selectUserWithdrawalOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="loginName != null  and loginName != ''"> and login_name = #{loginName}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="fee != null "> and fee = #{fee}</if>
            <if test="withdrawal != null "> and withdrawal = #{withdrawal}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="chain != null  and chain != ''"> and chain = #{chain}</if>
            <if test="params != null  and params.startTime != null"> and create_time &gt;= #{params.startTime}</if>
            <if test="params != null  and params.endTime != null"> and create_time &lt;= #{params.endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="feedback != null "> and feedback = #{feedback}</if>
            <if test="callable != null "> and callable = #{callable}</if>
        </where>
    </select>
    
    <select id="selectUserWithdrawalOrderById" parameterType="Long" resultMap="UserWithdrawalOrderResult">
        <include refid="selectUserWithdrawalOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserWithdrawalOrder" parameterType="UserWithdrawalOrder" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_order_withdrawal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="address != null">address,</if>
            <if test="amount != null">amount,</if>
            <if test="fee != null">fee,</if>
            <if test="withdrawal != null">withdrawal,</if>
            <if test="symbol != null and symbol != ''">symbol,</if>
            <if test="chain != null">chain,</if>
            <if test="status != null">status,</if>
            <if test="feedback != null">feedback,</if>
            <if test="callable != null">callable,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="address != null">#{address},</if>
            <if test="amount != null">#{amount},</if>
            <if test="fee != null">#{fee},</if>
            <if test="withdrawal != null">#{withdrawal},</if>
            <if test="symbol != null and symbol != ''">#{symbol},</if>
            <if test="chain != null">#{chain},</if>
            <if test="status != null">#{status},</if>
            <if test="feedback != null">#{feedback},</if>
            <if test="callable != null">#{callable},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUserWithdrawalOrder" parameterType="UserWithdrawalOrder">
        update t_user_order_withdrawal
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="address != null">address = #{address},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="withdrawal != null">withdrawal = #{withdrawal},</if>
            <if test="symbol != null and symbol != ''">symbol = #{symbol},</if>
            <if test="chain != null">chain = #{chain},</if>
            <if test="status != null">status = #{status},</if>
            <if test="feedback != null">feedback = #{feedback},</if>
            <if test="callable != null">callable = #{callable},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserWithdrawalOrderById" parameterType="Long">
        delete from t_user_order_withdrawal where id = #{id}
    </delete>

    <delete id="deleteUserWithdrawalOrderByIds" parameterType="String">
        delete from t_user_order_withdrawal where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<select id="selectUserWithdrawalOrderByOrderNo" parameterType="String" resultMap="UserWithdrawalOrderResult">
        <include refid="selectUserWithdrawalOrderVo"/>
        where order_no = #{orderNo}
    </select>
    
    <select id="selectUserWithdrawalAmountByDate" resultType="BigDecimal">
		select sum(amount) from t_user_order_withdrawal 
		<where>
			<if test="symbol != null and symbol != ''">and symbol=#{symbol}</if>
			<if test="start != null">and create_time &gt;=#{start}</if>
			<if test="end != null">and create_time &lt;=#{end}</if>
		</where>
	</select>

    <select id="selectUserWithdrawalAmount" resultType="BigDecimal">
		select sum(amount) from ( select a.id, a.order_no, a.user_id, b.login_name, b.email, a.address, a.amount, a.fee, a.withdrawal, a.symbol, a.chain, a.status, a.create_time, a.update_time, a.remark from t_user_order_withdrawal a
        left join (select user_id as bid, login_name, email from sys_user) as b on a.user_id = b.bid
		<where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="loginName != null  and loginName != ''"> and login_name = #{loginName}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="fee != null "> and fee = #{fee}</if>
            <if test="withdrawal != null "> and withdrawal = #{withdrawal}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="chain != null  and chain != ''"> and chain = #{chain}</if>
            <if test="params != null  and params.startTime != null"> and create_time &gt;= #{params.startTime}</if>
            <if test="params != null  and params.endTime != null"> and create_time &lt;= #{params.endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="feedback != null "> and feedback = #{feedback}</if>
            <if test="callable != null "> and callable = #{callable}</if>
        </where>
        ) ss
	</select>
        
    <select id="selectUserWithdrawalFeeAmount" parameterType="String" resultType="BigDecimal">
		select sum(fee) from t_user_order_withdrawal where symbol = #{symbol}
	</select>
        
</mapper>