<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.wallet.mapper.UserWalletRecord0Mapper">
    
    <resultMap type="UserWalletRecord" id="UserWalletRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="loginName"    column="login_name"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="symbol"    column="symbol"    />
        <result property="amount"    column="amount"    />
        <result property="type"    column="type"    />
        <result property="kind"    column="kind"    />
        <result property="status"    column="status"    />
        <result property="orderNo"    column="order_no"    />
        <result property="days"    column="days"    />
        <result property="details"    column="details"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUserWalletRecordVo">
        select a.id, a.user_id, b.login_name, b.email, c.address, a.symbol, a.amount, a.type, a.kind, a.status, a.order_no, a.days, a.details, a.create_time, a.update_time, a.remark from t_user_wallet_record_0 a
        left join (select user_id as bid, login_name, email from sys_user) as b on a.user_id = b.bid
        left join (select user_id as cid, address, symbol as csymbol from t_user_wallet_account) as c on a.user_id = c.cid and a.symbol = c.csymbol
    </sql>

    <select id="selectUserWalletRecordList" parameterType="UserWalletRecord" resultMap="UserWalletRecordResult">
        <include refid="selectUserWalletRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="kind != null "> and kind = #{kind}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="loginName != null  and loginName != ''"> and login_name = #{loginName}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="params.orderNoLike != null  and params.orderNoLike != ''"> and order_no like concat(#{params.orderNoLike}, '%')</if>
            <if test="days != null "> and days = #{days}</if>
            <if test="details != null "> and details = #{details}</if>
        </where>
    </select>
    
    <select id="selectUserWalletRecordById" parameterType="Long" resultMap="UserWalletRecordResult">
        <include refid="selectUserWalletRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserWalletRecord" parameterType="UserWalletRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_wallet_record_0
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="symbol != null and symbol != ''">symbol,</if>
            <if test="amount != null">amount,</if>
            <if test="type != null">type,</if>
            <if test="kind != null">kind,</if>
            <if test="status != null">status,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="days != null">days,</if>
            <if test="details != null">details,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="symbol != null and symbol != ''">#{symbol},</if>
            <if test="amount != null">#{amount},</if>
            <if test="type != null">#{type},</if>
            <if test="kind != null">#{kind},</if>
            <if test="status != null">#{status},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="days != null">#{days},</if>
            <if test="details != null">#{details},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUserWalletRecord" parameterType="UserWalletRecord">
        update t_user_wallet_record_0
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="symbol != null and symbol != ''">symbol = #{symbol},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="type != null">type = #{type},</if>
            <if test="kind != null">kind = #{kind},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="days != null">days = #{days},</if>
            <if test="details != null">details = #{details},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserWalletRecordById" parameterType="Long">
        delete from t_user_wallet_record_0 where id = #{id}
    </delete>

    <delete id="deleteUserWalletRecordByIds" parameterType="String">
        delete from t_user_wallet_record_0 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<select id="selectUserWalletRecordAmount" parameterType="UserWalletRecord" resultType="BigDecimal">
		select sum(amount) from t_user_wallet_record_0
		<where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="loginName != null  and loginName != ''"> and login_name = #{loginName}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="kind != null "> and kind = #{kind}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="days != null "> and days = #{days}</if>
            <if test="details != null "> and details = #{details}</if>
			<if test="params != null and params.orderNos != null and params.orderNos.size > 0">
	        	and order_no in 
	        	<foreach item="id" collection="params.orderNos" open="(" separator="," close=")">
	           		 #{id}
	        	</foreach>
	        </if>
	        <if test="params.orderNoLike != null  and params.orderNoLike != ''"> and order_no like concat(#{params.orderNoLike}, '%')</if>
        </where>
	</select>
	
	<select id="selectUserWalletRecordOne" parameterType="UserWalletRecord" resultMap="UserWalletRecordResult">
        <include refid="selectUserWalletRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="kind != null "> and kind = #{kind}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="params != null and params.orderNoLike != null  and params.orderNoLike != ''"> and order_no like concat(#{params.orderNoLike}, '%')</if>
            <if test="days != null "> and days = #{days}</if>
            <if test="details != null "> and details = #{details}</if>
        </where>
        limit 1
    </select>
</mapper>