<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--360浏览器优先以webkit内核解析-->
<title>[[${config.name}]][[${config.title}]]</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link href="../static/css/style.min.css" th:href="@{/css/style.min.css}"
	rel="stylesheet" />
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row" style="text-align: center;">
			<h3>欢迎使用[[${config.name}]][[${config.title}]]</h3>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		$(function() {
		});
	</script>
</body>
</html>
