<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--360浏览器优先以webkit内核解析-->
<title></title>
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link href="../static/css/main/animate.min.css"
	th:href="@{/css/main/animate.min.css}" rel="stylesheet" />
<link href="../static/css/main/style.min862f.css"
	th:href="@{/css/main/style.min862f.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">今日矿机销量</h5>
						<h2 class="text-navy">
							<i class="fa fa-anchor"></i> <label id="todayAmount"></label> T
						</h2>
						<small>昨日销量：<label id="yesterdayAmount"></label> T
						</small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content ">
						<h5 class="m-b-md">今日销售额</h5>
						<h2 class="text-danger">
							<i class="fa fa-at"></i> <label id="todayPrice"></label> USDT
						</h2>
						<small>昨日销售额：<label id="yesterdayPrice"></label> USDT
						</small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">累积矿机销量</h5>
						<h2 class="text-navy">
							<i class="fa fa-anchor"></i> <label id="totalAmount"></label> T
						</h2>
						<small>更新时间：<label class="date"></label></small>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">累积销售额</h5>
						<h2 class="text-danger">
							<i class="fa fa-at"></i> <label id="totalPrice"></label> USDT
						</h2>
						<small>更新时间：<label class="date"></label></small>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5>本周矿机销量</h5>
						<h2 class="todayAmount">0</h2>
						<div id="weekAmounts"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5>本周销售额</h5>
						<h2 class="todayPrice">0</h2>
						<div id="weekPrices"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5>本月矿机销量</h5>
						<h2 class="totalAmount">0</h2>
						<div id="monthAmounts"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="ibox">
					<div class="ibox-content">
						<h5>本月销售额</h5>
						<h2 class="totalPrice">0</h2>
						<div id="monthPrices"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-title">用户注册量</div>
					<div class="ibox-content">
						<div class="echarts" id="echarts-users"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: sparkline-js" />
	<th:block th:include="include :: echarts-js" />
	<script th:inline="javascript">
		var prefix = ctx + "/admin/index";

		$(function() {
			buildSamples();

			buildSparkLineAmounts('weekAmounts', '#1ab394');
			buildSparkLineAmounts('weekPrices', '#ed5565');
			buildSparkLineAmounts('monthAmounts', '#1ab394');
			buildSparkLineAmounts('monthPrices', '#ed5565');
			
			buildUserRegisterCharts();
		});
		
		function buildUserRegisterCharts() {
			var lineChart = echarts.init(document
					.getElementById("echarts-users"));
			var lineoption = {
				title : {
					text : ''
				},
				tooltip : {
					trigger : 'axis'
				},
				legend : {
					data : [ '注册量' ]
				},
				grid : {
					x : 40,
					x2 : 40,
					y2 : 24
				},
				calculable : true,
				xAxis : [ {
					type : 'category',
					boundaryGap : false,
					data : []
				} ],
				yAxis : [ {
					type : 'value',
					axisLabel : {
						formatter : '{value}'
					}
				} ],
				series : [ {
					name : '注册量',
					type : 'line',
					data : [],
				} ]
			};
			lineChart.setOption(lineoption);
			$(window).resize(lineChart.resize);

			$.get(prefix + '/regusers', function(res) {
				lineChart.setOption({
					xAxis : [ {
						type : 'category',
						boundaryGap : false,
						data : res.dates
					} ],
					series : [ {
						name : '注册量',
						type : 'line',
						data : res.counts,
					} ]
				})
			});
		}

		function buildSamples() {
			$.get(prefix + '/samples', {}, function(res) {
				if (res.code == '0') {
					$.each(res, function(name, value) {
						$('#' + name).html(value);
						$('.' + name).html(value);
					});
				}
			});
		}

		function buildSparkLineAmounts(id, lineColor) {
			$.get(prefix + '/' + id, {}, function(res) {
				if (res.code != '200') {
					return;
				}
				$("#" + id).sparkline(res.data, {
					type : 'line',
					width : '100%',
					height : '60',
					lineColor : lineColor,
					fillColor : "#ffffff"
				});
			});
		}
	</script>
</body>
</html>
