<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('CODE')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-code-add">
			<h4 class="form-header h4">邮件服务</h4>
			<div class="form-group">
				<label class="col-sm-3 control-label ">邮箱：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="email">
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-sm btn-success"
						onclick="sendEmailCode()">发送验证码</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">主题：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="subject"
						value="邮件发送测试">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">内容：</label>
				<div class="col-sm-8">
					<label class="toggle-switch switch-solid"> <textarea
							class="form-control" rows="3" cols="200" name="content">这是一封测试邮件，点击下方的发送邮件按钮进行发送</textarea>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-5 col-sm-5">
					<button type="button" class="btn btn-sm btn-primary"
						onclick="sendEmail()">发送邮件</button>
				</div>

			</div>
			<h4 class="form-header h4">短信服务</h4>
			<div class="form-group">
				<label class="col-sm-3 control-label ">手机：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="mobile">
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-sm btn-success"
						onclick="sendMobileCode()">发送验证码</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">短信：</label>
				<div class="col-sm-4">
					<textarea class="form-control" type="text" name="message">这是测试短信的内容，点击下方的发送短信按钮进行发送</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-5 col-sm-5">
					<button type="button" class="btn btn-sm btn-primary"
						onclick="sendMobile()">发送短信</button>
				</div>

			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "admin/code";

		function sendEmail() {
			$.operate.post(prefix + "/email", $('#form-code-add').serialize());
		}
		function sendMobile() {
			$.operate.post(prefix + "/mobile", $('#form-code-add').serialize());
		}
		function sendEmailCode() {
			$.operate.post(prefix + "/email/code", $('#form-code-add')
					.serialize());
		}
		function sendMobileCode() {
			$.operate.post(prefix + "/mobile/code", $('#form-code-add')
					.serialize());
		}
	</script>
</body>
</html>
