<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.chat.mapper.ChatMemberMapper">
    
    <resultMap type="ChatMember" id="ChatMemberResult">
        <result property="id"    column="id"    />
        <result property="chatId"    column="chat_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectChatMemberVo">
        select a.id, a.chat_id, a.user_id    
    </sql>
    
    <sql id="selectChatMemberJoins">
	
	</sql>

    <select id="selectChatMemberList" parameterType="ChatMember" resultMap="ChatMemberResult">
        <include refid="selectChatMemberVo"/>
        from t_chat_member a
        <include refid="selectChatMemberJoins"/>
        <where>  
            <if test="chatId != null "> and a.chat_id = #{chatId}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectChatMemberById" parameterType="Long" resultMap="ChatMemberResult">
        <include refid="selectChatMemberVo"/>
        from t_chat_member a
        <include refid="selectChatMemberJoins"/>
        where id = #{id}
    </select>
        
    <insert id="insertChatMember" parameterType="ChatMember" useGeneratedKeys="true" keyProperty="id">
        insert into t_chat_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chatId != null">chat_id,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chatId != null">#{chatId},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateChatMember" parameterType="ChatMember">
        update t_chat_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="chatId != null">chat_id = #{chatId},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatMemberById" parameterType="Long">
        delete from t_chat_member where id = #{id}
    </delete>

    <delete id="deleteChatMemberByIds" parameterType="String">
        delete from t_chat_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>