<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soyatec.sword.system.mapper.SysOperNotifyMapper">
    
    <resultMap type="SysOperNotify" id="SysOperNotifyResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="operateUrl"    column="operate_url"    />
        <result property="subject"    column="subject"    />
        <result property="template"    column="template"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysOperNotifyVo">
        select id, type, operate_url, subject, template, create_time, update_time, remark from sys_oper_notify
    </sql>

    <select id="selectSysOperNotifyList" parameterType="SysOperNotify" resultMap="SysOperNotifyResult">
        <include refid="selectSysOperNotifyVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="operateUrl != null  and operateUrl != ''"> and operate_url = #{operateUrl}</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="template != null  and template != ''"> and template = #{template}</if>
        </where>
    </select>
    
    <select id="selectSysOperNotifyById" parameterType="Long" resultMap="SysOperNotifyResult">
        <include refid="selectSysOperNotifyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysOperNotify" parameterType="SysOperNotify" useGeneratedKeys="true" keyProperty="id">
        insert into sys_oper_notify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="operateUrl != null">operate_url,</if>
            <if test="subject != null">subject,</if>
            <if test="template != null">template,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="operateUrl != null">#{operateUrl},</if>
            <if test="subject != null">#{subject},</if>
            <if test="template != null">#{template},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysOperNotify" parameterType="SysOperNotify">
        update sys_oper_notify
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="operateUrl != null">operate_url = #{operateUrl},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="template != null">template = #{template},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysOperNotifyById" parameterType="Long">
        delete from sys_oper_notify where id = #{id}
    </delete>

    <delete id="deleteSysOperNotifyByIds" parameterType="String">
        delete from sys_oper_notify where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>